
.HeroPage-abilities {
	padding: 20px;
	box-shadow: 1px 1px 5px #323131 inset;
	}


.HeroPage-header {
	height: 1000px;
	padding: 20px;
    color: white;

	

	background:
		-webkit-linear-gradient(45deg, hsla(37, 3%, 31%, 1) 0%, hsla(37, 3%, 31%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(55, 4%, 36%, 1) 10%, hsla(55, 4%, 36%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(83, 0%, 33%, 1) 10%, hsla(83, 0%, 33%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(248, 12%, 27%, 1) 100%, hsla(248, 12%, 27%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(37, 3%, 31%, 1) 0%, hsla(37, 3%, 31%, 0) 70%),
		linear-gradient(135deg, hsla(55, 4%, 36%, 1) 10%, hsla(55, 4%, 36%, 0) 80%),
		linear-gradient(225deg, hsla(83, 0%, 33%, 1) 10%, hsla(83, 0%, 33%, 0) 80%),
		linear-gradient(315deg, hsla(248, 12%, 27%, 1) 100%, hsla(248, 12%, 27%, 0) 70%);

	background-image: url(http://127.0.0.1:8000/static/bg_noise.png);

	
	}


.HeroPage-strip_str {
	height: 5px;

	background:
		-webkit-linear-gradient(45deg, hsla(8, 100%, 31%, 1) 0%, hsla(8, 100%, 31%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(32, 100%, 37%, 1) 10%, hsla(32, 100%, 37%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(29, 100%, 65%, 1) 10%, hsla(29, 100%, 65%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(341, 100%, 56%, 1) 100%, hsla(341, 100%, 56%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(8, 100%, 31%, 1) 0%, hsla(8, 100%, 31%, 0) 70%),
		linear-gradient(135deg, hsla(32, 100%, 37%, 1) 10%, hsla(32, 100%, 37%, 0) 80%),
		linear-gradient(225deg, hsla(29, 100%, 65%, 1) 10%, hsla(29, 100%, 65%, 0) 80%),
		linear-gradient(315deg, hsla(341, 100%, 56%, 1) 100%, hsla(341, 100%, 56%, 0) 70%);
	}


.HeroPage-strip_int {
	height: 5px;

	background:
		-webkit-linear-gradient(45deg, hsla(231, 100%, 31%, 1) 0%, hsla(231, 100%, 31%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(166, 100%, 37%, 1) 10%, hsla(166, 100%, 37%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(180, 100%, 65%, 1) 10%, hsla(180, 100%, 65%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(269, 100%, 56%, 1) 100%, hsla(269, 100%, 56%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(231, 100%, 31%, 1) 0%, hsla(231, 100%, 31%, 0) 70%),
		linear-gradient(135deg, hsla(166, 100%, 37%, 1) 10%, hsla(166, 100%, 37%, 0) 80%),
		linear-gradient(225deg, hsla(180, 100%, 65%, 1) 10%, hsla(180, 100%, 65%, 0) 80%),
		linear-gradient(315deg, hsla(269, 100%, 56%, 1) 100%, hsla(269, 100%, 56%, 0) 70%);
	}

.HeroPage-strip_agi {
	height: 5px;

	background:
		-webkit-linear-gradient(45deg, hsla(114, 100%, 31%, 1) 0%, hsla(114, 100%, 31%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(107, 100%, 37%, 1) 10%, hsla(107, 100%, 37%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(128, 100%, 65%, 1) 10%, hsla(128, 100%, 65%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(180, 100%, 56%, 1) 100%, hsla(180, 100%, 56%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(114, 100%, 31%, 1) 0%, hsla(114, 100%, 31%, 0) 70%),
		linear-gradient(135deg, hsla(107, 100%, 37%, 1) 10%, hsla(107, 100%, 37%, 0) 80%),
		linear-gradient(225deg, hsla(128, 100%, 65%, 1) 10%, hsla(128, 100%, 65%, 0) 80%),
		linear-gradient(315deg, hsla(180, 100%, 56%, 1) 100%, hsla(180, 100%, 56%, 0) 70%);
	}

.HeroPage-health_bar {
	height: 20px;
	width: 234px;
	margin: 0 auto;
	background:
		-webkit-linear-gradient(45deg, hsla(138, 100%, 55%, 1) 0%, hsla(138, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(152, 84%, 50%, 1) 10%, hsla(152, 84%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(138, 96%, 50%, 1) 10%, hsla(138, 96%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(125, 46%, 55%, 1) 100%, hsla(125, 46%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(138, 100%, 55%, 1) 0%, hsla(138, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(152, 84%, 50%, 1) 10%, hsla(152, 84%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(138, 96%, 50%, 1) 10%, hsla(138, 96%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(125, 46%, 55%, 1) 100%, hsla(125, 46%, 55%, 0) 70%);
	}

.HeroPage-mana_bar {
	height: 20px;
	width: 234px;
	margin: 5px auto 0;
	background:
		-webkit-linear-gradient(45deg, hsla(197, 100%, 55%, 1) 0%, hsla(197, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(204, 84%, 50%, 1) 10%, hsla(204, 84%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(214, 96%, 50%, 1) 10%, hsla(214, 96%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(217, 46%, 55%, 1) 100%, hsla(217, 46%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(197, 100%, 55%, 1) 0%, hsla(197, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(204, 84%, 50%, 1) 10%, hsla(204, 84%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(214, 96%, 50%, 1) 10%, hsla(214, 96%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(217, 46%, 55%, 1) 100%, hsla(217, 46%, 55%, 0) 70%);
	}